<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div style="display: flex; justify-content: end;">
        <a href="/logout">
      <button class="btn btn-primary" >Logout</button>
    </a>
    </div>

    <div class="container mt-4">
        <h1 class="text-center text-primary"></h1>
        <p class="text-center"><H1> <%= userName %> </H1></p>
    </div>

    <!-- Bootstrap JS and dependencies (popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
