<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div style="display: flex; justify-content: end;">
        <a href="/logout">
      <button class="btn btn-primary" >Logout</button>
    </a>
    </div>

    <div class="container mt-4">
        <h1 class="text-center text-primary"></h1>
        <p class="text-center"><H1> Welcome <%= userName %> </H1></p>
    </div>
    
  <div class="container mt-4">

    <!-- Bootstrap Cards -->
    <div class="card-deck">
      <!-- Card 1 -->
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/51y53361iXL._AC_UF894,1000_QL80_.jpg" class="card-img-top" alt="Card Image 1">
        <div class="card-body">
          <h5 class="card-title">Football Boot</h5>
          <p class="card-text">YEFDG Men’s Soccer Boots Football Shoes Cleats Spike Shoes Sneaker Comfortable Adults Athletic Outdoor/Indoor/Competition/Training, Black</p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsWK83rh-_Z1hpFrG6p7z0iiUHlz6uBiCoqjl00_xjc8FAizGfcVyFDfzx0qZ1WcqAiTE&usqp=CAU" class="card-img-top" alt="Card Image 2">
        <div class="card-body">
          <h5 class="card-title">Football Boot</h5>
          <p class="card-text">YEFDG Men’s Soccer Boots Football Shoes Cleats Spike Shoes Sneaker Comfortable Adults Athletic Outdoor/Indoor/Competition/Training, Black</p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card">
        <img src="https://pictures-kenya.jijistatic.com/49936474_NjIwLTU4OC1mZGExNDUwY2Yw.webp" class="card-img-top" alt="Card Image 3">
        <div class="card-body">
          <h5 class="card-title">Football Boot</h5>
          <p class="card-text">YEFDG Men’s Soccer Boots Football Shoes Cleats Spike Shoes Sneaker Comfortable Adults Athletic Outdoor/Indoor/Competition/Training, Black</p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

 </div>

    <!-- Bootstrap JS and dependencies (popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
